@import "tailwindcss";

* {
  font-family: "montserrat";
  box-sizing: border-box;
  min-width: 0;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100dvh;
  font-size: 16px;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
